<div class="card">
  <%= link_to book_path(book), class: 'card-link' do %>
    <% if signed_in? && book.lent? %>
      <div class="ribbon-wrapper">
        <% if book.lent_to?(current_user) %>
          <div class="ribbon">Reading</div>
        <% else %>
          <div class="ribbon">Borrowed</div>
        <% end %>
      </div>
    <% end %>

    <div class="card-image">
      <img src="" alt="">
    </div>

    <div class="card-header">
      <%= book.name %>
    </div>
  <% end %>

  <div class="card-copy">
    <% if signed_in? %>
      <div>
        <% if book.lent_to? current_user %>
            <%= link_to 'Return', return_path(book) %>
        <% elsif book.lent? %>
            <p><%= book.borrower.email %> borrowed this book</p>
        <% else %>
            <%= link_to 'Borrow', borrow_path(book) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
